@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Datastar Demo</h1>
    <p>"Datastar helps you build reactive web applications with the simplicity of server-side rendering and the power of a full-stack SPA framework."</p>
    <p>Learn about <a href="https://data-star.dev/" target=_blank>Datastar</a>.</p>
</div>
