@model bool

@if (Model) 
{
  <div id="loading" class="text-center" 
    data-show="$count > 1"
    data-on-load="$count = 0"
    data-on-interval="$count++"
    >
    <svg class="m-3" width="120" height="40" viewBox="0 0 120 40" xmlns="http://www.w3.org/2000/svg" fill="#d6d6d6">
      <circle cx="15" cy="20" r="8">
        <animate attributeName="cy" values="30;10;30" dur="0.6s" repeatCount="indefinite" begin="0s"/>
      </circle>
      <circle cx="60" cy="20" r="8">
        <animate attributeName="cy" values="30;10;30" dur="0.6s" repeatCount="indefinite" begin="0.2s"/>
      </circle>
      <circle cx="105" cy="20" r="8">
        <animate attributeName="cy" values="30;10;30" dur="0.6s" repeatCount="indefinite" begin="0.4s"/>
      </circle>
    </svg>
  </div>
} 
else 
{
  <div id="loading" data-on-load="$count = 0"></div>
}
