
<style type="text/css" media="all">
  .buttons {
    display: flex;
    justify-content: center;
  }

  .button-text {
    font-size: 24px;
    margin: 5px;
  }

  .mh-fit {
    max-height: fit-content;
  }
</style>

<div 
  id="pagination-buttons" 
  data-signals="{size: 100}" 
  data-on-load="@@post('/Datastar/PaginationTable?offset=0')">
</div>

<hr>
<br>

<table class="table"
  <thead>
    <tr class="headers">
      <th>
        Id
      </th>
      <th>
        RandInt
      </th>
      <th>
        Name
      </th>
    </tr>
  </thead>

<tbody id="tablecontent"> 
</tbody>

</table>
 
